.hostVansPage {
  max-width: 68.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.hostVan {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding: 18px 24px;
}

.hostVanImage {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.hostVanInfo {
  margin-right: auto;
}

.hostVanInfo h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.hostVanInfo p {
  margin-block: 10px;
}
